<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/MySite.css" rel="stylesheet" />*@

    @Styles.Render("~/bundles/styles")
    @RenderSection("Styles", false)

</head>
<body>
    <div class="header-strip">

        <!--Панель аутентификации-->
        <div class="container">

            <div class="nav navbar-right">
                @Html.Action("CartSummary", "Cart")
            </div>
        @Html.Partial("_LoginPartial")

        </div> <!--Панель аутентификации (конец)-->

        <div class="container">
            <div class="navbar navbar-inverse" role="navigation">
                <div class="logo">
                    <a class="navbar-brand" href="#">60322_1 Спицин Д.О</a>
                </div>

                @Html.Action("Main", "Menu",
                             new { c = Request.RequestContext.RouteData.Values["controller"] });

                @*<ul class="nav nav-pills">
                        <li>@Html.ActionLink("Домой", "Index", "Home")</li>
                        <li class="active"> @Html.ActionLink("Каталог", "List", "Product")</li>
                        <li>@Html.ActionLink("Администрирование", "Index", "Admin")</li>
                    </ul>*@

            </div>
        </div><!--панель навигации (конец)-->
    </div><!--Заголовок страницы(конец)-->
    <!--Содержимое сайта-->
    <div class="main-body">
        <div class="main-body">
            <div class="container">

                <div class="row">
                    <!--Левая боковая панель-->
                    <div class="col-md-3">
                        @*<div class="navbar navbar-default">

                                @Html.Action("Side","Menu");

                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Все категории</a></li>
                                    <li class="active"><a href="#">Кино</a></li>
                                    <li><a href="#">Книги</a></li>
                                    <li><a href="#">Инструмент</a></li>
                                </ul>
                            </div>*@

                        @RenderSection("SidePanel", required: false)

                    </div>
                    <!--/Левая боковая панель (конец)-->
                    <!--Основная панель-->
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                    <!--/Основная панель (конец)-->
                </div>
            </div>
        </div><!--Содержимое сайта (конец)-->
    </div><!--Содержимое сайта (конец)-->
    <!--Подвал страницы-->
    <div class="footer-strip">
        <div class="footer-strip">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h6>Kарта сайта</h6>

                        @Html.Action("Map", "Menu")

                        @*<ul>
                                <li>@Html.ActionLink("Домой", "Index", "Home")</li>
                                <li class="active">@Html.ActionLink("Каталог", "List", "Product")</li>
                                <li>@Html.ActionLink("Администрирование", "Index", "Admin")</li>
                            </ul>*@
                    </div>

                    <div class="col-md-3 col-md-offset-6">

                        <h6>Социальные сети</h6>

                        <a href="http://vk.com" class="social-icon vk"></a>
                        <a href="http://twitter.com" class="social-icon twitter"></a>
                        <a href="http://facebook.com" class="social-icon facebook"></a>

                    </div>
                </div>
            </div>
        </div><!--Подвал страницы (конец)-->
        @*<script src="~/Scripts/jquery-1.10.2.js"></script>
            <script src="~/Scripts/bootstrap.js"></script>*@

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("Scripts", false)
</body>
</html>
